#container{
    width: 20em;
    height: 10em;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: lightgoldenrodyellow;
    border-radius: 2em;
}

#counter{
    margin: auto;
}

#container > div{
    margin: auto;
}