html,body{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}

#container{
    width: fit-content;
    height: 20em;
    padding: 0 2em;
    border: 1px solid rgba(0,0,0,0.3);
    margin: auto;
    display: flex;
    flex-direction: column;
    background: lightgoldenrodyellow;
    border-radius: 2em;
}

#counter{
    margin: auto;
    font-size: 10em;
}

#container > div{
    margin: auto;
}